@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center-p {
    @apply flex items-center justify-center h-screen bg-zinc-700;
  }
  .card-p {
    @apply bg-zinc-800 p-2 mx-6 rounded-2xl;
  }
  .Container-img {
    @apply flex flex-col md:flex-row rounded-l-xl;
  }
  .img-p {
    @apply  rounded-xl h-80 md:h-64 md:rounded-l-xl md:rounded-r-none transform hover:scale-105 hover:rounded duration-200;
  }
}
